body {
    padding: 0;
    margin: 0;
    font-family: 'Carter One', cursive;
}

/* NAV BAR */
nav {
    margin: 5px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    padding: 10px 5px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;

}
.rules {
    flex: start;
}

/* MAIN CONTENT */
.main-container {
    border-radius: 5px;
    background-image: url(assets/42515016-seamless-vector-cartoon-landscape-fantasy-unending-background-with-separated-layers-for-game-design.jpeg);
    margin: 10px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.main-text {
    padding: 5px;
    text-align: center;
    font-weight: 600;
    font-style: bold;
    
}
.character {
    height: 130px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}
.btn {
    border-radius: 5px;
    background-color: lightblue;

}
.question-btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
footer {
    text-align: center;
    padding-bottom: 5px;
}
/* MODALS */
#correctModal {
    display: none;   
    position: fixed;
    z-index: 1;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#wrongModal {
    display: none;   
    position: fixed;
    z-index: 1;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.wrong-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    padding-bottom: 25px;
    height: 80vh;
}
.correct-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen;
    padding-bottom: 25px;
    height: 80vh;
}
/* MEDIA QUERIES */

@media (min-width: 426px) {
    .main-text {
        font-size: 24px;
    }
    .character {
        height: 200px;
    }
    .btn {
        font-size: 20px;
        width: 150px;
    }
}

@media (min-width: 768px) {
    .character {
        height: 300px;
    }
    .btn {
        width: 200px;
    }
}


/* UTILITIES */
.hide {
    display: none;
}